<!-- PLAYER LIST -->
        <div id="name-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <div class="filterBox">
                    <select ng-model="filterBy">
                        <option selected="selected" value="">All</option>
                        <option value="INT">Intermediate</option>
                        <option value="ADV">Advanced</option>
                    </select>
                </div>

                <!-- LOOP OVER THE PLAYERS IN $scope.players -->
                <table>
                    <tr>
                        <th>Delete</th>
                        <th>Player name</th>
                        <th>Player level</th>
                    </tr>
                    <tr ng-repeat="player in players | filter : { 'level' : filterBy } | orderBy : name">
                        <td><input type="checkbox" ng-click="deletePlayer(player._id)"></td>
                        <td>{{ player.text }}</td>
                        <td>{{ player.level }}</td>
                    </tr>
                </table>

            </div>
        </div>

        <!-- FORM TO CREATE PLAYERS -->
         <div class="jumbotron text-center">
            <h1>Add a player</h1>
        </div>

        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-md text-center" placeholder="Player name" ng-model="formData.text">
                        <input type="text" class="form-control input-sm text-center" placeholder="Level" ng-model="formData.level">
                    </div>

                    <!-- createToDo() WILL CREATE NEW PLAYERS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createPlayer()">Add</button>
                </form>
            </div>
        </div>