<!-- PLAYER LIST -->
<div id="name-list" class="row">
    <div class="col-sm-8 col-sm-offset-2">

        <div class="filterBox">
            <select ng-model="filterBy">
                <option selected="selected" value="">All</option>
                <option value="INT">Intermediate</option>
                <option value="ADV">Advanced</option>
            </select>
        </div>

         <div class="row">
            <!-- LOOP OVER THE PLAYERS IN $scope.players -->
            <table class="attendanceTable">
                <tr>
                    <th>1 point</th>
                    <th>2 points</th>
                    <th class="playerName">Player name</th>
                    <th>Level</th>
                </tr>
                <tr ng-repeat="player in players" ng-show="([player] | filter : { 'level' : filterBy }).length > 0  | orderBy : name">
                    <td class="checkboxCell"><input type="checkbox" value="1" ng-click="toggleSelectionOne(player.text)" id="{{ player.identifier }}1" /></td>
                    <td class="checkboxCell"><input type="checkbox" value="2" ng-click="toggleSelectionTwo(player.text)" id="{{ player.identifier }}2" /></td>
                    <td>{{ player.text }}</td>
                    <td>{{ player.level }}</td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button ng-click="addAttendance()" class="btn btn-lg btn-primary btn-block">Submit attendance</button>
            </div>
        </div>
        <div class="row">
            <div id="attendanceTables">
                <div class="tables clearfix">
                    <div class="col-md-6">
                        <h3>One point</h2>
                        <table class="table1">
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3>Two points</h2>
                        <table class="table2">
                        </table>
                    </div>
                </div>
                <div>
                    <form>
                        <div class="form-group col-sm-12">
                            <legend>Notes</legend>
                            <textarea id="notes" name="notes"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>




        <div class="row sendEmail">
            <div class="col-sm-12">
            <button id="send_email" class="btn btn-lg btn-block btn-primary" ng-click="sendEmail()">Send Email</button>
            </div>
        </div>
        <div class="row text-center">
            <span id="message"></span>
       </div>
</div>