<!-- PLAYER LIST -->
<div id="name-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">

        <div class="filterBox">
            <select ng-model="filterBy">
                <option selected="selected" value="">All</option>
                <option value="INT">Intermediate</option>
                <option value="ADV">Advanced</option>
            </select>
        </div>

        <!-- LOOP OVER THE PLAYERS IN $scope.players -->
        <table>
            <tr class="checkbox" ng-repeat="player in players" ng-show="([player] | filter : { 'level' : filterBy }).length > 0">
                <td><input type="checkbox" value="1" ng-click="toggleSelectionOne(player.text)" id="{{ player.identifier }}1" /></td>
                <td><input type="checkbox" value="2" ng-click="toggleSelectionTwo(player.text)" id="{{ player.identifier }}2" /></td>
                <td>{{ player.text }}</td>
                <td>{{ player.level }}</td>
            </tr>
        </table>

        <button ng-click="addAttendance()" class="btn btn-primary btn-block">Submit attendance</button>

        <div id="test">
            <table class="table1">
            </table>

            <table class="table2">
            </table>
        </div>





        <div id="container">
            <div></div>
            Node.JS Email application
            <div>
            <h1>Mailer In Node.JS</h1>
            <input id="to" type="text" placeholder="Enter E-mail ID where you want to send" />
            <input id="subject" type="text" placeholder="Write Subject" />
            <textarea id="content" cols="40" rows="5" placeholder="Write what you want to send"></textarea>
            <button id="send_email" ng-click="sendEmail()">Send Email</button>
            <span id="message"></span>
            </div>

    </div>
</div>