html {
	overflow-y:scroll;
}

body {
	padding-top:20px;
}

.row {
	margin-top: 10px;
}

.btn, button {
	outline: none !important;
}

#name-list {
	margin-bottom:30px;

}

.filterBox {
	margin-bottom: 20px;
}

.filterBox .filterInput, textarea {
	width: 100%;
	resize: none;
}

textarea {
	border: 1px solid #ccc;
	padding: 8px;
}

table {
	margin-top: 20px;
	margin: 0 auto;
	width: 100%;
}

table td, table th {
	border: 1px solid #000;
	min-width: 100px;
	text-align: center;
	min-width: 0;
}

table td, table th {
	border-width: 0 0 1px;
	padding-top: 8px;
	padding-bottom: 8px;
}

	table th.playerName {
		max-width: 100px;
	}

	.table1 {
		margin-bottom: 10px;
	}

.checkbox {
	padding: 0;
}


.checkbox input[type='checkbox'] {
	margin: 0 0 10px;
	display: inline-block;
	float: none;
	padding: 0;
}

.trainingType {
	text-align: center;
}

.trainingType label {
	margin: 0 15px 0 10px;
	font-size: 18px;
}

.trainingType input[type='radio'] {
	margin-right: 10px;
}

#validation {
	display: none;
}

.sendEmail {
	display: none;
}

.tables {
	margin-bottom: 20px;
}

#attendanceType {
	text-align: center;
}

#attendanceTables {
	display: none;
	margin-top: 30px;
}
.attendanceTable {
	margin-bottom: 30px;
}

.attendanceFilter {
	text-align: center;
}

.filterTitle {
	line-height: 1.5em;
}
.filterBox select, .filterBox input {
	width: 100%;
	height: 2em;
}
.filterBox input {
	padding: 10px;
}
.subhead h3 {
	margin: 0 0 30px;
}


@media(min-width:500px) {
	table.attendanceTable td.checkboxCell {
		width: 70px;
	}
	table th.playerName {
		min-width: 300px;
		max-width: 100%;
	}
	.table1 {
		margin-bottom: 0;
	}
	.filterBox {
		float: right;
	}
	.filterTitle {
	display: inline;
	margin-right: 20px;
	}
	.filterBox select, .filterBox input {
		width: auto;
	}
	.attendanceFilter {
		text-align: left;
	}
	.filterSelect {
		text-align: right;
	}
}