html {
	overflow-y:scroll;
}

body {
	padding-top:50px;
}

.row {
	margin-top: 30px;
}

#name-list {
	margin-bottom:30px;

}

.filterBox {
	margin-bottom: 20px;
}

.filterBox .filterInput, textarea {
	width: 100%
}

table {
	margin-top: 20px;
	margin: 0 auto;
	width: 100%;
}

table td, table th {
	border: 1px solid #000;
	min-width: 100px;
	text-align: center;
	min-width: 0;
}

table td, table th {
	border-width: 0 0 1px;
	padding-top: 8px;
	padding-bottom: 8px;
}

	table th.playerName {
		max-width: 100px;
	}

	.table1 {
		margin-bottom: 10px;
	}

.checkbox {
	padding: 0;
}

.checkbox input[type='checkbox'] {
	margin: 0 0 10px;
	display: inline-block;
	float: none;
	padding: 0;
}

#validation {
	display: none;
}

.sendEmail {
	display: none;
}

.tables {
	margin-bottom: 20px;
}

#attendanceTables {
	display: none;
}

@media(min-width:500px) {
	table.attendanceTable td.checkboxCell {
		width: 60px;
	}
	table th.playerName {
		min-width: 300px;
		max-width: 100%;
	}
	.table1 {
		margin-bottom: 0;
	}

}