html {
	overflow-y:scroll;
}

body {
	padding-top:50px;
}

.row {
	margin-top: 30px;
}

#name-list {
	margin-bottom:30px;

}

.filterBox {
	margin-bottom: 20px;
}

.filterBox .filterInput {
	width: 100%
}

table {
	margin-top: 20px;
}

table td, table th {
	border: 1px solid #000;
	min-width: 100px;
	text-align: center;
}

	table th.playerName {
		min-width: 200px;
	}

.checkbox {
	padding: 0;
}

.checkbox input[type='checkbox'] {
	margin: 0 0 10px;
	display: inline-block;
	float: none;
	padding: 0;
}

#validation {
	display: none;
}